.main-footer {
    background-color: $black-light;
    color: $grey;
    padding: $spacer-6 0;

    //temp
    min-height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
}
